.seat-chart {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

.seat {
    width: 100px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;

}

.available {
    background-color: greenyellow;
}

.booked {
    cursor: not-allowed;
    background-color: red;
    color: #fff;
}

